@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Prompt", "Times New Roman", Times, serif;
  }
}

@layer components {
  .bg-main-color {
    background-color: #eaded7;
  }
  .bg-sec-color {
    background-color: #ab7a5f;
  }
}
